body {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    padding-top: 5rem;
}

.template {
    padding: 3rem 1.5rem;
    text-align: center;
    opacity: 0.7;
}

form {
    text-align: center;
    opacity: 0.7;
}

.opa-this {
    opacity: 0.9;
}


