<div class="template">
    <h1>Enter your email ASAP</h1>
    <p class="lead">
        Enter your address so I will be able to send you some info through MailChimp
    </p>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        {{#if message }}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {{/if}}
        <form method="post">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control opa-this" name="email">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div>
